# grunt watch task config

options:
  livereload: true

manifest:
  files:
    - 'src/index.html'
  tasks:
    - 'copy'
    - 'build'

app:
  files:
    - 'src/app.js'
    - 'src/app/**/*.js'
  tasks:
    - 'newer:copy:app'
    - 'newer:injector:app'

styles:
  files:
    - 'src/styles/**/*.less'
  tasks:
    - 'newer:less:app'
    - 'newer:injector:app'
